<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<!-- iPhone会将看起来像电话号码的数字添加电话连接，应当关闭 -->
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
		<title>写博客</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/stylesheets/cssreset.css">
		<link rel="stylesheet" href="/stylesheets/index.css">
		<link rel="stylesheet" href="/stylesheets/study.css">
		<link rel="stylesheet" href="/stylesheets/detail.css">
		<link rel="stylesheet" href="/stylesheets/write.css">
		<link rel="stylesheet" href="/stylesheets/article_manage.css">
	</head>
	<body>
		<div class="myNav">
			<nav class="nav-wrap">
			    <div class="navbar-header">
				  <ul class="navbar-toggle">
				        <li class="icon-bar icon-bar1"></li>
				        <li class="icon-bar icon-bar2"></li>
				        <li class="icon-bar icon-bar3"></li>
			      </ul> 
			      <a class="navbar-brand" href="/index">Kalama博客</a>
			    </div>

			    <div class="navbar-collapse">
			      <ul class="navbar-nav">
			        <li><a href="/index">首页</a></li>
			        <li><a href="/about">关于我</a></li>
			        <li class="slideDown">
			        	<a href="/study">学无止境</a>
			        	<ul>
			        		<li><a href="/study?id=HTML">HTML</a></li>
			        		<li><a href="/study?id=CSS">CSS</a></li>
			        		<li><a href="/study?id=JavaScript">JavaScript</a></li>
			        		<li><a href="/study?id=jQuery">jQuery</a></li>
			        	</ul>
			        </li>
			        <li class="slideDown">
			        	<a href="/live">慢生活</a>
 			        	<ul>
			        		<li><a href="/study?id=HTML">HTML</a></li>
			        		<li><a href="/study?id=CSS">CSS</a></li>
			        		<li><a href="/study?id=JavaScript">JavaScript</a></li>
			        		<li><a href="/study?id=jQuery">jQuery</a></li>
			        	</ul>	 			        	
			        </li>
			        <li><a href="#">时间轴</a></li>
			        <li><a href="/write" class="current">发表文章</a></li>
			      </ul>
			    </div>
			</nav>
		</div>

		<div class="big_bg"><img src="/images/study_bg.png" alt=""></div>
		<div class="dir">
			<ul>
				<li><a href="/index">网站首页</a></li>
				<li><a href="/write">写博客</a></li>
			</ul>
			<p>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</p>
		</div>

		<div class="con">
			<!-- 左边 -->
			<div class="con-left">
				<div class="con-title">
					<ul>
						<li><a href="#" class="sort">排序:</a></li>
						<li><a href="#" class="defa current">默认</a></li>
						<li><a href="#" class='time'>按更新时间</a></li>
					</ul>
				</div>
				<!-- 文章 -->
				<div class="article">
					<%for(var i=result.length-1;i>-1;i--){%>
						<div class="item item-float">
							<a href="#"  onclick='toDetail(this)'>
								<span class="_id"><%=result[i]._id%></span>
								<span class="author-id"><%=result[i]._id%></span>
								<h1 class="title"><%=result[i].con[0].conTit%></h1>
								<div class="points">
									<ul class="l">
										<li><span class="class-icon"></span><%=result[i].category%></li>
										<li><span class="time-icon"></span><%=result[i].time%></li>
										<li><span class="author-icon"></span><%=result[i].author%></li>
									</ul>
									<ul class="r">
										<li><a href="#" class="update" onclick='toDetail(this)'>查看</a></li>
										<li><a href="#" class="delete" onclick='toDetail(this)'>删除</a></li>
									</ul>
								</div>
							</a>
						</div>
					<%}%>
				</div>
			</div>
			<div class="con-right">
				<a class="manage">文章管理</a>
			</div>
		</div>	
		<div class="return-top" title="返回顶部"><span></span></div>
		<script src="/javascripts/jquery.min.js"></script>
		<script src='/javascripts/index.js'></script>
		<script src='/javascripts/study.js'></script>
		<script src='/javascripts/write.js'></script>
	</body>
</html>