<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" width=device-width,  content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<title>首页</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="stylesheets/cssreset.css" type="text/css">
		<link rel="stylesheet" href="stylesheets/index.css" type="text/css">
	</head>
	<body>
		<div class="myNav">
			<nav class="nav-wrap">
			    <div class="navbar-header">
				  <ul class="navbar-toggle">
				        <li class="icon-bar icon-bar1"></li>
				        <li class="icon-bar icon-bar2"></li>
				        <li class="icon-bar icon-bar3"></li>
			      </ul> 
			      <a class="navbar-brand" href="/index">Kalama博客</a>
			    </div>

			    <div class="user">
				    <% if(username == '' ) { %>
				    	<ul class="noLogin">
				    		<li class="regis"><a href="/showRegis">注册</a></li>
				    		<li class="login-btn"><a href="/showLogin">登录</a></li>
				    	</ul>
				    <% } %>
			    	<% if(username != '' ) { %>
			    	<a href='/about' class="username" title=<%=username%>><img src="/images/head.jpg" alt="头像"></a>
			    	<a href="/logout" class="logout">注销</a>
			    	<% } %>	
			    </div>

			    <div class="navbar-collapse">
			      <ul class="navbar-nav">
			        <li><a href="/index" class="current">首页</a></li>
			        <li><a href="/about">关于我</a></li>
			        <li class="slideDown">
			        	<a href="/study">学无止境</a>
			        	<ul>
			        		<li><a href="/study?id=HTML">HTML</a></li>
			        		<li><a href="/study?id=CSS">CSS</a></li>
			        		<li><a href="/study?id=JavaScript">JavaScript</a></li>
			        		<li><a href="/study?id=jQuery">jQuery</a></li>
			        	</ul>
			        </li>
			        <li class="slideDown">
			        	<a href="/live">慢生活</a>
 			        	<ul>
			        		<li><a href="/study?id=HTML">HTML</a></li>
			        		<li><a href="/study?id=CSS">CSS</a></li>
			        		<li><a href="/study?id=JavaScript">JavaScript</a></li>
			        		<li><a href="/study?id=jQuery">jQuery</a></li>
			        	</ul>	 			        	
			        </li>
			        <li><a href="#">时间轴</a></li>
			        <li><a href="/write">发表文章</a></li>
			      </ul>
			    </div>
			</nav>
		</div>

		<div class="con">
			<!-- 左边 -->
			<div class="con-left">
				<!-- 轮播图 -->
				<div class="carousel" >
				  <!-- Indicators -->
				  <ol class="carousel-circle">
				    <li class="active"></li>
				    <li></li>
				    <li></li>
				  </ol>

				  <!-- Wrapper for slides -->
				  <ul class="carousel-inner">
				    <li class="item active">
				      <img src="images/banner03.jpg" alt="轮播1">
				      <p>个人博客1，属于我的小世界！</p>
				    </li>
				    <li class="item">
				      <img src="images/banner02.jpg" alt="轮播2">
				      <p>个人博客2，属于我的小世界！</p>
				    </li>
				    <li class="item">
				      <img src="images/banner01.jpg" alt="轮播3">
				      <p>个人博客3，属于我的小世界！</p>
				    </li>
				  </ul>
					
					<div class="carousel-turn">
					  <!-- Controls -->
					  <a class="left" href="#"></a>
					  <a class="right" href="#"></a>
					</div>
				</div>

				<!-- 文章 -->
				<div class="article">
					<%for(i=0;i<more;i++){%>
						<div class="item item-float">
							<a href="#" class="toDetail" onclick='toDetail(this)'>
								<span class="_id"><%=result[i]._id%></span>
								<h1 class="title"><%= result[i].title %></h1>
								<span class="left"></span>
								<div class="points">
									<p><%= result[i].con[0].conTit+result[i].con[0].conMain %></p>
									<ul>
										<li><span class="class-icon"></span><%= result[i].category%></li>
										<li><span class="time-icon"></span><%= result[i].time%></li>
										<li><span class="author-icon"></span><%= result[i].author%></li>
									</ul>
								</div>
							</a>
						</div>
					<%}%>
					<div class="more">
						<span class="more-btn">加载更多</span>
					</div>
				</div>
			</div>
			<div class="con-right">
				<div class="c-r-items">
					<ul class="item-top">
						<li>
							<span class="top">学无止境</span>
							<p class="bot">个人博客，属于我的小世界！</p>
							<a href="#" class="shadow"></a>
						</li>
						<li>
							<span class="top">学无止境</span>
							<p class="bot">个人博客，属于我的小世界！</p>
							<a href="#" class="shadow"></a>
						</li>
					</ul>
					<div class="item">
						<h2>学无止境</h2>
						<a href="#" class="intro"><span>别让这些闹心的套路，毁了你的网页设计!</span></a>
						<ul class="lists">
							<li>
								<span class="pic"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
							<li>
								<span class="pic pic1"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
							<li>
								<span class="pic pic2"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
							<li>
								<span class="pic pic3"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="item">
						<h2>慢生活</h2>
						<a href="#" class="intro"><span>别让这些闹心的套路，毁了你的网页设计!</span></a>
						<ul class="lists">
							<li>
								<span class="pic"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
							<li>
								<span class="pic pic1"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
							<li>
								<span class="pic pic2"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
							<li>
								<span class="pic pic3"></span>
								<div class="con-wrap">
									<a href="#" class="tit">别让这些闹心的套路，毁了你的网页设计</a>
									<span class="date">2018-05-13</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="item tag">
						<h2>标签云</h2>
						<span>陌上花开</span>
						<span>校园生活</span>
						<span>田园生活</span>
						<span>html5</span>
						<span>jQuery</span>
						<span>css</span>
						<span>MongoDB</span>
						<span>青春</span>
						<span>温暖</span>
						<span>环游世界</span>
						<span>阳光</span>
						<span>世外桃源</span>
					</div>
				</div>
			</div>
		</div>	
		<!-- 尾部 -->
		<div class="footer">
			<div>Design by<a href="#">&nbsp;古美坤个人博客</a></div>
		</div>
		<div class="return-top" title="返回顶部"><span></span></div>
		<script src="/javascripts/jquery.min.js"></script>
		<script src='/javascripts/index.js'></script>
		<script src='/javascripts/login.js'></script>
	</body>
</html>